@import "tailwindcss";

@theme {
  --color-primary: #7C3AED;
  --color-primary-hover: #6D28D9;
  --color-background: #F9FAFB;
}

body {
  background-color: var(--color-background);
  color: #1f2937;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
